@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.root {
    -fx-font-family: "Poppins";
}

.button {   
    -fx-padding: 5px 7px;
    -fx-font-size: 14px; /* Set font size */
    -fx-cursor: hand; /* Change cursor on hover */
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-margin-right: 5px;
}

#startButton {
    -fx-background-color: #4CAF50;
}

#startButton:hover {
    -fx-background-color: rgb(151, 255, 157);
}

#stopButton {
    -fx-background-color: #dd1b1b;
}

#stopButton:hover {
    -fx-background-color: rgb(255, 120, 110);
}

#resetButton {
    -fx-background-color: #000000;
}

#resetButton:hover {
    -fx-background-color: #424242;
}

.horPane {
    -fx-background-color: linear-gradient(to right, #247aa4, #305ec0);
    -fx-padding: 0px 0px 10px 10px;
}

.infoPane {
    -fx-background-color: rgb(38, 18, 55);
    -fx-text-fill: white;
    -fx-justify-content: space-between;
}

.label {
    -fx-text-fill: white;
    -fx-padding: 2px 0px 2px 5px;
    -fx-font-weight: bold;
}